@charset "UTF-8";
/* CSS Document */

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #6196ed;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 28px;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}


button {
  background-color: #8ba7e0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

@media only screen and (min-width: 300px) {
  body {
    background-color: black;
    color: white;
    font-family: -apple-system;
  }
}

@media only screen and (min-width: 600px) {
  body {
    background-color: rgb(207, 203, 232);
    color: black;
  }

  p {
    background-color: rgb(227, 127, 127);
  }
}
